div{
    position: relative;
    width: 50%;
    margin: 0 auto;
}
div span{    
    background: red;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: -30px;
    padding: 10px;
}

p{
    padding: 10px;
    background: #363adf;
}